body {
    background-color: rgb(27, 27, 105);
}

.header {
    background-color: rgba(0, 0, 0, 0.523);
    padding: 30px 0;
    text-align: center;
}

.header-el {
    text-align: center;
    display: inline;
    text-align: center;
}

.header-el a {
    font-family: Audiowide, monospace;
    font-size: 10px;
    text-align: center;
    padding: 20px;
    font-size: 50px;
    color: aliceblue;
}

.header-el a:hover {
    color: #7ef4ff;
}

.body {
    text-align: center;
    color: aliceblue;
    width: 70%;
}

.body h1 {
    text-align: center;
    color: aliceblue;
    width: 70%;
}

.body p {
    text-align: center;
    color: aliceblue;
    width: 70%;
}

footer {
    color: aliceblue;
}