@font-face {
    font-family: audiowide;
    src: url(/Users/Zakkorr.me/contents/assets/fonts/Audiowide/Audiowide-Regular.ttf);
}

@font-face {
    font-family: orbitron;
    src: url(/Users/Zakkorr.me/contents/assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: cherry bomb;
    src: url(/Users/Zakkorr.me/contents/assets/fonts/Cherry_Bomb_One/CherryBombOne-Regular.ttf);
}

@font-face {
    font-family: sixtyfour;
    src: url(/Users/Zakkorr.me/contents/assets/fonts/Sixtyfour/Sixtyfour-Regular-VariableFont_BLED,SCAN.ttf);
}

body {
    box-sizing: content-box;
    color: aliceblue;
    background-image: url("/Users/zakkorr.me/contents/assets/images/site/zakkorr-bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
    display: grid;
    width: 100%;
    font-family: audiowide, monospace;
    grid-template-areas:
        "head head head head"
        "sidebar main main main"
        "footer footer footer footer";


}

.header {
    grid-area: head;
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgba(0, 0, 0, 0.851);
    position: fixed;
    z-index: 999;

}

.inner-header {
    width: 1200px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo {
    height: 100%;
    display: table;
    float: left;
}

.logo img {
    padding-top: 15px;
    height: 60px;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
}

.header-right {
    float: right;
    height: 100%;
}

.header-right a {
    display: table;
    float: left;
    padding: 0 30px;
    text-decoration: none;
}

.header-right a li {
    display: table-cell;
    vertical-align: middle;
    padding-top: 30px;
    font-size: 30px;
    color: aliceblue;
}

.header-right a li:hover {
    color: aqua;
}

.sidebar {
    grid-area: sidebar;
    top: 80px;
    height: 100%;
    width: 300px;
    position: fixed;
    background-color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    word-wrap: wrap;
}

.sidebar h3 {
    padding: 50px 30px;
    text-align: center;
    color: cornflowerblue;
}



.sidebar li {
    padding: 30px 0;
    color: rgb(158, 210, 255);
}

.sidebar a {
    color: rgb(158, 210, 255);
}

.main {
    grid-area: main;
    position: relative;
    top: 100px;
    margin-left: 150px;
}

.main h1 {
    padding-top: 40px;
    padding-bottom: 0;
}

.main h2 {
    padding-top: 100px;
}

.footer-grid {
    line-height: 30px;
    color: aliceblue;
    grid-area: footer;
    bottom: 0;
    left: 0;
    position: relative;
    width: 100%;
    padding-top: 30px;
    margin-top: 100px;
    background-color: rgb(32, 36, 40);
    border-top: 10px solid aqua;
    display: grid;
    grid-template-areas: 
        "logo content more important"
        "legal legal legal legal";
}

.footer-grid h4 {
    font-size: 20px;
    padding-bottom: 20px;
    font-family: sixtyfour;
}

.footer-grid a {
    color:aquamarine;
    text-decoration: underline;
    font-size: 15px;
    font-family: sixtyfour;
}

.footer-grid a:hover {
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.footer-grid-logo {
    grid-area: logo;
    width: 400px;
    padding: 20px 30px;
    text-align: center;
    color: aqua;
    line-height: 40px;
    font-family: cherry bomb;
    font-size: 20px;
}

.footer-grid-content {
    grid-area: content;
    width: 100%;
}

.footer-grid-other {
    grid-area: more;
}
.footer-grid-important {
    grid-area: important;
}

.footer-grid-legal {
    grid-area: legal;
    font-family: monospace;
    text-align: right;
    font-size: large;
    box-sizing: content-box;
    padding-top: 40px;
    padding-right: 20px;
}

h1 {
    color: aliceblue;
    font-size: xx-large;
    padding: 30px 100px;
    text-align: center;
    font-family: orbitron, monospace;
    font-weight: bold;
    letter-spacing: 3px;
}

h2 {
    color: aliceblue;
    font-size: x-large;
    padding: 30px 100px;
    text-align: center;
    font-family: orbitron, monospace;
    font-weight: bold;
    letter-spacing: 3px;
}

h3 {
    color: aliceblue;
    font-family: orbitron;
}

h4 {
    color: aliceblue;
    font-size: 10;
    font-family: sixtyfour;
}

h5 {
    color: aliceblue;
}

p {
    color: aliceblue;
    font-size: large;
    padding: 30px 150px;
    text-indent: 50px;
    line-height: 40px;
    font-family: orbitron, monospace;
    letter-spacing: 3px;
}

.useless-info {
    color: aliceblue;
    font-size: large;
    padding: 20px 150px;
    text-indent: 50px;
    line-height: 30px;
    font-family: orbitron, monospace;
    letter-spacing: 3px;
    text-align: left;
}
.useless-info-title {
    font-weight: bold;
}